:root {
  font-family: Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;

  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-heading: SuisseWorks, Georgia, Times,
    'Times New Roman', serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-header: 'Udemy Sans', -apple-system,
    BlinkMacSystemFont, Roboto, 'Segoe UI',
    Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-text: 'Udemy Sans', 'SF Pro Text',
    -apple-system, BlinkMacSystemFont, Roboto,
    'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  --amethyst: #b356f2ff;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  box-sizing: border-box;
}
