.footer_container {
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: var(--font-heading);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  .small_font {
    font-size: 1.25rem;
  }
}

.flex_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
