.navbar_logo {
  font-weight: 800;
  margin-top: -0.5rem;
  font-size: 3rem;
  font-style: italic;
  background: -webkit-linear-gradient(var(--amethyst), rgba(0, 0, 0, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar_container {
  width: auto;
  cursor: pointer;
  margin: 0.2rem;
  padding: 1rem 1rem;
  display: grid;
  column-gap: 2rem;
  height: auto;
  grid-template-columns: 0.1fr auto auto;
  align-items: center;
  font-family: var(--font-header);
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px -20px;
  .display_flex {
    margin-left: 2rem;
    gap: 4rem;
  }
}

.navbar_icon {
  width: 2.5rem;
  height: 2.5rem;
}
.navbar_tab {
  font-size: 1.5rem;
}

.navbar_tab:hover {
  color: var(--amethyst);
}
.navbar_search {
  min-width: 60vw;
  border-radius: 2rem;
  padding: 1rem;
}

.avatar {
  width: 5rem;
  border-radius: 50%;
}

.navbar_btn {
  font-size: 1.5rem;
  font-family: var(--font-header);
  font-weight: 700;
  padding: 1rem 2rem;
  border: 1px solid black;
}
.blackText_whiteBackground {
  color: black;
  background-color: white;
}
.blackText_whiteBackground:hover {
  background-color: rgba(229, 229, 229, 0.4);
}

.whiteText_blackBackground {
  color: white;
  background-color: black;
}

.whiteText_blackBackground:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar_btn_container {
  display: flex;
  gap: 1rem;
}

button {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .navbar_search {
    min-width: 45vw;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar_search {
    min-width: 40vw;
  }
}
@media only screen and (max-width: 950px) {
  .navbar_search {
    min-width: 30vw;
  }
}
